.App-body {
  padding: 5px;
  .body-message {
    margin: 10px;
  }
  .OutputContainer {
    padding: 10px;
    border: 1px solid black;
    background: rgb(70, 69, 69);
    overflow-x: scroll;
    left: 3px;
  }
}
