.tree-text-area {
  padding: 5px;
  textarea {
    width: 100%;
    max-width: 600px;
    height: 300px;
  }
}

.json-error {
  color: red;
  background-color: rgb(247, 190, 184);
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  font-weight: 600;
}
