.treeNode {
  padding: 5px;
  border: solid 1px rgb(0, 16, 247);
  width: fit-content;
  .nodeId {
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 5px;
    text-align: center;
  }

  .nodeChildren {
    width: fit-content;
    border: solid 1px rgb(251, 255, 0);
    padding: 5px;
    display: flex;
    justify-content: space-around;
    .treeNode {
      width: auto;
    }
  }
}

.smallest-subtree {
  border: 2px solid green;
}
